extends layouts/interior-alt

mixin app(name, style, url, description)
  .app
    .app-header
      h3= name
      a(href=url, style="display:block")
        i.npm(style=style)
    .app-body
      p=description
      a.btn.view(href=url) View Module
        i.fas.fa-external-link-alt

block header
  .start 
    img(src='/images/circle.svg') 
    | Application Middleware
  h1.caption A  collection of useful modules for common tasks.
  hr
    
block content
  #apps.content: .container.grid-lg
    .row
      .columns
        .column.col-6.col-md-12
          +app(
            'drachtio-mw-auth-parser',
            'background-image: url(https://badge.fury.io/js/drachtio-mw-auth-parser.svg)',
            'https://www.npmjs.com/package/drachtio-mw-auth-parser',
            'Parses SIP Authorization header, supporting both Digest and Basic Authorization.'
          )
        .column.col-6.col-md-12
          +app(
            'drachtio-mw-digest-auth',
            'background-image: url(https://badge.fury.io/js/drachtio-mw-digest-auth.svg)',
            'https://www.npmjs.com/package/drachtio-mw-digest-auth',
            'Challenges and authenticates incoming SIP requests.'
          )
        .column.col-6.col-md-12
          +app(
            'drachtio-mw-registration-parser',
            'background-image: url(https://badge.fury.io/js/drachtio-mw-registration-parser.svg)',
            'https://www.npmjs.com/package/drachtio-mw-registration-parser',
            'Parses SIP REGISTER messages into useful components such as Address-of-Record, expires, etc.'
          )
    .row
      .add-middleware Have drachtio middleware you'd like to list here?<br/>Awesome! Ping me at &nbsp;
        a(href="mailto:daveh@beachdognet.com?subject=new drachtio middleware") daveh@beachdognet.com  

block scripts
  script.
    var elem = document.querySelector("header");
    var headroom = new Headroom(elem, {
    "offset": 150,
    "tolerance": 5,
    "classes": {
      "initial": "animated",
      "pinned": "slideDown",
      "unpinned": "slideUp"
    }
    });
    headroom.init();
