extends layouts/interior-alt
include mixins/pagination

mixin tab(name, file)
  li.tab(data-tab=file, class=currentType === file ? "active" : "")
    a(href="?type=" + file)= name

mixin tab-content(file, data, stuff, currentPage)
  .tab-content(class=currentType === file ? "active" : "")
    each r in stuff
      +release(r.file, r.content)
    +pagination(3, data.length, 3, currentPage, '?type=' + file + '&page=')


mixin release(name, description)
  .release
    .info= "Version " + name.replace(/-/g,'.').replace('.rc', '-rc')
    .notes!= description 

block header
  .start 
    img(src='/images/circle.svg') 
    | Releases
  hr
    
block content
  #apps.content: .container.grid-sm
    ul.tabs
      each t in tree
        +tab(t.name, t.file)

    .releases
      each t, idx in tree
        if currentType === t.file
          +tab-content(t.file, data[idx], data[idx][currentPage - 1], currentPage)

    


block scripts
  script.
    var elem = document.querySelector("header");
    var headroom = new Headroom(elem, {
    "offset": 150,
    "tolerance": 5,
    "classes": {
      "initial": "animated",
      "pinned": "slideDown",
      "unpinned": "slideUp"
    }
    });
    headroom.init();
