<article class="featured-post {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    <div class="post-card-content">
        <a class="post-card-content-link" href="{{url}}">
            <section class="post-card-header">
                {{#if primary_tag}}
                    <span class="post-tags"><img src="/images/circle.svg" />{{primary_tag.name}}</span>
                {{/if}}
                <h1 class="post-card-title">{{title}}</h1>
            </section>
            <section class="post-card-excerpt">
                <p>{{excerpt words="60"}} ...</p>
            </section>
        </a>
    </div>
</article>
